<div class="d-flex flex-column p-3 title-row" role="button" (click)="navigate('home')">
  <div class="d-flex flex-row align-items-center">
    <div class="dnh-logo"></div>
    <div class="flex-grow-1 d-flex flex-column">
      <h1 class="text-center welcome-title">Društvo naturista Hrvatske</h1>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Padajući izbornik">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav justify-content-between w-100 me-auto mb-1 mg-lg-0 gap-3">
        <li #dropdownMenu class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" (click)="toggle()">Društvo</a>
          @if (menuState == 'open') {
            <ul class="dropdown-menu show" animate.enter="fade-slide-in" animate.leave="fade-slide-out">
              <li><a class="dropdown-item" (click)="navigate('about')" [class.active]="activeLink == 'about'">O Društvu</a></li>
              <li><a class="dropdown-item" (click)="navigate('statut')" [class.active]="activeLink == 'statut'">Statut</a></li>
              <li><a class="dropdown-item" (click)="navigate('privacy-policy')" [class.active]="activeLink == 'privacy-policy'">Politika privatnosti</a></li>
            </ul>
          }
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('codex')" [class.active]="activeLink == 'codex'">Kodeks ponašanja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('join')" [class.active]="activeLink == 'join'">Postanite član</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigate('contact')" [class.active]="activeLink == 'contact'">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>