<div class="container">
    <h1>Kodeks ponašanja naturista</h1>
    <p><i>Poštovanje · Sloboda · Prirodnost · Zajedništvo</i></p>
    <p>U DNH-u stvaramo sigurno, opušteno i srdačno okruženje u kojem se svatko – članovi i gosti – može osjećati potpuno dobrodošao.</p>
    <p>Naša pravila nisu tu da ograničavaju, nego da pomognu da boravak bude ugodan, nenametljiv i siguran za sve.</p>
    <hr>
    <ol>
        <li class="section">Poštivanje privatnosti</li>
        <ul>
            <li>Fotografiranje i snimanje dozvoljeni su samo uz jasnu, slobodnu i izričitu suglasnost svake osobe na slici.</li>
            <li>Bilo kakvo ponašanje koje narušava tuđu privatnost (promatranje, komentari, upornost) nije prihvatljivo.</li>
            <li>Svatko ima pravo na svoj mir i prostor.</li>
        </ul>
        <hr>
        <li class="section">Golotinja je prirodna, ali nenametljiva</li>
        <ul>
            <li>Naturizam podrazumijeva slobodu biti bez odjeće – ali i razumijevanje da se ona može nositi kad god netko to želi (vrijeme, zdravlje, aktivnost…).</li>
            <li>Fokus je uvijek na slobodi i prirodnosti, nikada na tijelu kao objektu.</li>
        </ul>
        <hr>
        <li class="section">Tolerancija i inkluzivnost</li>
        <ul>
            <li>Dobrodošli su ljudi svih godina, oblika tijela, nacionalnosti i uvjerenja.</li>
            <li>Svaki oblik vrijeđanja, ismijavanja ili diskriminacije strogo je suprotan našim vrijednostima.</li>
            <li>Gradimo zajednicu na uzajamnom poštovanju.</li>
        </ul>
        <hr>
        <li class="section">Sigurnost i udobnost na prvom mjestu</li>
        <ul>
            <li>Ponašanja koja ikome stvaraju nelagodu nisu dopuštena.</li>
            <li>Očekujemo prirodno, nenametljivo i obzirno ponašanje.</li>
            <li>Ako se netko osjeti neugodno ili nesigurno – slobodno se obrati organizatorima ili voditeljima, odmah ćemo reagirati.</li>
        </ul>
        <hr>
        <li class="section">Higijena i briga o okolišu</li>
        <ul>
            <li>Ručnik je obavezan prilikom sjedenja – iz poštovanja prema drugima i higijene.</li>
            <li>Čuvamo prirodu: ne ostavljamo smeće, brinemo o prostoru i dijelimo ga odgovorno.</li>
            <li>Osnovna osobna higijena se podrazumijeva.</li>
        </ul>
        <hr>
        <li class="section">Komunikacija – prijateljska i nenametljiva</li>
        <ul>
            <li>Razgovori su opušteni, topli i nenametljivi.</li>
            <li>Poštujemo osobne granice – nitko nije obavezan pričati više nego što želi.</li>
            <li>Dobra atmosfera gradi se na uzajamnom razumijevanju i toplini.</li>
        </ul>
        <hr>
        <li class="section">Pravila lokacije uvijek se poštuju</li>
        <ul>
            <li>Svaka službena naturistička plaža, kamp ili događaj ima svoja pravila – molimo da ih svi poštujemo.</li>
            <li>Time štitimo sigurnost zajednice i dobar glas naturizma.</li>
        </ul>
        <hr>
        <li class="section">Zajedništvo i pozitivna energija</li>
        <ul>
            <li>Naturizam je mjesto bez pritiska, natjecanja i prosuđivanja.</li>
            <li>Potičemo suradnju, međusobnu pomoć i dobro raspoloženje.</li>
            <li>Zajedno stvaramo prostor u kojem se možeš opustiti, disati punim plućima i jednostavno biti svoj.</li>
        </ul>
    </ol>
</div>