.list-heading {
    font-weight: bold;
}
.list-content {
    font-family: monospace;
}

.section-heading {
    margin-top: 1em;
    margin-left: 1em;
    font-size: 1em;
    font-weight: 800;
    text-decoration: overline;
}
.body-text {
    text-align: center;
}
.construct-top {
    max-height: 10px;
    min-height: 10px;
    background-image: url('../assets/construct-top.jpg');
    background-repeat: repeat-x;
    background-size: contain;
}
.construct-middle {
    text-align: center;
    color: #f9b61f;
    background-color: black;
    font-family: monospace;
    font-size: 1em;
    font-weight: bold;
    font-variant-caps: small-caps;
}
.construct-bottom {
    max-height: 10px;
    min-height: 10px;
    background-image: url('../assets/construct-bottom.jpg');
    background-repeat: repeat-x;
    background-size: contain;
}

.dnh-link {
    text-decoration: none;
    color: #0a2572;
    transition: color 0.3s ease-in;
}
.dnh-link:hover {
    color: #007d2f;
    transition: color 0.2s ease-in;
}

.pheight {
    min-height: 100vh;
}