<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
</svg>
<div class="d-flex flex-column vh-100">
  <div class="d-flex flex-column p-3 title-row">
    <div class="d-flex flex-row align-items-center">
      <div class="dnh-logo"></div>
      <div class="flex-grow-1 d-flex flex-column">
        <label class="text-center welcome">Dobrodošli</label>
        <h1 class="text-center welcome-title">Društvo naturista Hrvatske</h1>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column mb-3">
    <div class="construct-top"></div>
    <div class="construct-middle">
      Poštovani, hvala Vam na posjeti. Ova stranica trenutno je u izradi.
    </div>
    <div class="construct-bottom"></div>
    <div class="alert alert-success d-flex align-items-center m-3">
      <svg class="bi flex-shrink-0 me-3" style="max-height: 16px; max-width: 16px;" role="img"><use xlink:href="#info-fill"/></svg>
      <div class="flex-grow-1">Odlukom Društva, do kraja 2025. godine članarina u DNH iznosi 10 €. Digitalna pristupnica bit će uskoro dostupna, a u međuvremenu, za učlanjenje molimo kontaktirajte nas direktno na bilo koji od niže navedenih načina.</div>
    </div>
    <div class="container-fluid px-lg-5 px-sm-1">
      <div class="row">
        <div class="col-md-6">
          <label class="section-heading">Podaci za kontakt</label>
          <ul class="list-group">
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Predsjednik</label>
                <label class="col-9 list-content text-nowrap">Snježana Krušelj<br>+385 98 454 040</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Tajnik</label>
                <label class="col-9 list-content text-nowrap">Saša Pajić<br>+385 98 446 788</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Email</label>
                <label class="col-9 list-content"><a href="mailto:dnh@dnh.hr" class="dnh-link">dnh&#64;dnh.hr</a></label>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <label class="section-heading">Podaci o društvu</label>
          <ul class="list-group">
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Adresa</label>
                <label class="col-9 list-content">Zelinska 5, 10000 Zagreb</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">OIB</label>
                <label class="col-9 list-content">58155050871</label>
                <label class="col-3 list-heading">MB</label>
                <label class="col-9 list-content">03233545</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">IBAN</label>
                <label class="col-9 list-content">HR6923600001103207288</label>
                <label class="col-3 list-heading">SWIFT</label>
                <label class="col-9 list-content">ZABAHR2X</label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 sea d-flex flex-column align-items-center justify-content-end" style="min-height: 100px;">
    <label class="dnh-inf">Društvo naturista Hrvatske član je Međunarodne naturističke federacije (INF-FNI).</label>
    <a href="https://inf-fni.org/" class="dnh-inf-link"><img src="../assets/inf-logo.png" style="max-height: 80px;"></a>
    <label class="dnh-copyright">© Društvo naturista Hrvatske, {{ today | date:'yyyy' }}.</label>
  </div>
</div>