  <div class="d-flex flex-column mb-3">
    <div class="container-fluid px-lg-5 px-sm-1 mt-3 text-center">
      <div class="row mb-4">
        <div class="d-flex flex-column align-items-start col-12">
          <h2>NAJNOVIJE<div class="news-cursive">iz DNH</div></h2>
          <div class="news-scroller">
            <div class="d-flex flex-row gap-3 text-start">
              <div class="d-flex flex-column news-item">
                <div class="datetime">7. ožujka, 2026.</div>
                <div class="newstext flex-grow-1">Održana redovna sjednica DNH u starom prostoru kod Martinovke.</div>
                <div class="news skupstina"></div>
              </div>
              <div class="d-flex flex-column news-item">
                <div class="datetime">7. prosinca, 2025.</div>
                <div class="newstext flex-grow-1">Druženje u saunama spa & wellness hotela Paradiso.</div>
                <div class="news paradiso"></div>
              </div>
              <div class="d-flex flex-column news-item">
                <div class="datetime">2. - 5. listopada, 2025.</div>
                <div class="newstext flex-grow-1">DNH sudjelovao na sastanku EuNat-a.</div>
                <div class="news eunat"></div>
              </div>
              <div class="d-flex flex-column news-item">
                <div class="datetime">6. rujna, 2025.</div>
                <div class="newstext flex-grow-1">Proslavljen dan naturizma na Jarunu.</div>
                <div class="news jarun"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container px-lg-5 px-sm-1 mt-5 text-center">
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturizam, ponekad poznat i kao nudizam, obilježen je praksom boravka bez odjeće – bilo na plaži, u bazenu, u klubu ili turističkom naselju, kod kuće ili na mnogim drugim mjestima. Naturizam je zabavan, bezopasan, dobar za nas i prakticiraju ga milijuni ljudi diljem svijeta.</p>
        </div>
        <div class="col-md-4 paragraph-right-1">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturizam nije samo golotinja. On nam pomaže da se osjećamo povezanije s prirodom te potiče poštovanje prema sebi, prema drugima i prema okolišu. Dobro utječe na naše mentalno i fizičko zdravlje i jača samopouzdanje u vlastito tijelo.</p>
        </div>
        <div class="col-md-4 paragraph-right-2">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturisti širom svijeta udružili su se u nacionalne naturističke federacije, koje pokreću predani volonteri posvećeni zaštiti i promicanju prostora za naturizam i rekreaciju bez odjeće. Pridruživanjem svojoj nacionalnoj federaciji - Društvu naturista Hrvatske, aktivno podržavate naturistički pokret, a istovremeno otkrivate udrugu i događanja koja omogućuju uživanje u naturizmu tijekom cijele godine – ne samo za vrijeme godišnjeg odmora.</p>
        </div>
        <div class="col-md-4 paragraph-right-3">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p><b>Zajedno stvaramo prostor za slobodu, prirodu i autentičnost.</b> Društvo naturista Hrvatske okuplja ljude koji vjeruju u poštovanje, zajedništvo i dobrobiti naturizma — tijekom cijele godine. Pridruži nam se! (link na učlanjenje)</p>
        </div>
        <div class="col-md-4 paragraph-right-4">&nbsp;</div>
      </div>
        <!-- <div class="col-md-6">
          <label class="section-heading">Podaci za kontakt</label>
          <ul class="list-group">
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Predsjednik</label>
                <label class="col-9 list-content text-nowrap">Snježana Krušelj<br>+385 98 454 040</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Tajnik</label>
                <label class="col-9 list-content text-nowrap">Saša Pajić<br>+385 98 446 788</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Email</label>
                <label class="col-9 list-content"><a href="mailto:dnh@dnh.hr" class="dnh-link">dnh&#64;dnh.hr</a></label>
              </div>
            </li>
          </ul>
        </div> -->
        <!-- <div class="col-md-6">
          <label class="section-heading">Podaci o društvu</label>
          <ul class="list-group">
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">Adresa</label>
                <label class="col-9 list-content">Zelinska 5, 10000 Zagreb</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">OIB</label>
                <label class="col-9 list-content">58155050871</label>
                <label class="col-3 list-heading">MB</label>
                <label class="col-9 list-content">03233545</label>
              </div>
            </li>
            <li class="list-group-item container-fluid">
              <div class="row">
                <label class="col-3 list-heading">IBAN</label>
                <label class="col-9 list-content">HR6923600001103207288</label>
                <label class="col-3 list-heading">SWIFT</label>
                <label class="col-9 list-content">ZABAHR2X</label>
              </div>
            </li>
          </ul>
        </div> -->
    </div>
  </div>