  <div class="d-flex flex-column mb-3">
    <div class="container-fluid px-lg-5 px-sm-1 mt-3 text-center">
     <div class="row mb-4">
      <div class="d-flex flex-column align-items-start col-12">
       <h2>OBAVIJESTI<div class="news-cursive">DNH</div>
       </h2>
       <div class="news-scroller">
        <div class="d-flex flex-row gap-3 text-start">
         @for (item of announcements; track item) {
         @if (item.link) {
         <a class="d-flex flex-column news-item" href="{{ item.link }}" target="_blank">
          <div class="datetime">{{ item.date }}</div>
          <div class="newstext flex-grow-1">{{ item.blurb }}</div>
          <div class="news" style="background-image: url('{{ item.imageURL }}');"></div>
         </a>
         } @else {
         <div class="d-flex flex-column news-item">
          <div class="datetime">{{ item.date }}</div>
          <div class="newstext flex-grow-1">{{ item.blurb }}</div>
          <div class="news" style="background-image: url('{{ item.imageURL }}');"></div>
         </div>
         }
         }
        </div>
       </div>
      </div>
     </div>
     <div class="row mb-4">
       <div class="d-flex flex-column align-items-start col-12">
         <h2>NAJNOVIJE<div class="news-cursive">iz DNH</div></h2>
         <div class="news-scroller">
           <div class="d-flex flex-row gap-3 text-start">
             @for (item of newsItems; track item) {
              @if (item.link) {
               <a class="d-flex flex-column news-item" href="{{ item.link }}" target="_blank">
                 <div class="datetime">{{ item.date }}</div>
                 <div class="newstext flex-grow-1">{{ item.blurb }}</div>
                 <div class="news" style="background-image: url('{{ item.imageURL }}');"></div>
               </a>
              } @else {
               <div class="d-flex flex-column news-item">
                 <div class="datetime">{{ item.date }}</div>
                 <div class="newstext flex-grow-1">{{ item.blurb }}</div>
                 <div class="news" style="background-image: url('{{ item.imageURL }}');"></div>
               </div>
              }
             }
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="container px-lg-5 px-sm-1 mt-5 text-center">
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturizam, ponekad poznat i kao nudizam, obilježen je praksom boravka bez odjeće – bilo na plaži, u bazenu, u klubu ili turističkom naselju, kod kuće ili na mnogim drugim mjestima. Naturizam je zabavan, bezopasan, dobar za nas i prakticiraju ga milijuni ljudi diljem svijeta.</p>
        </div>
        <div class="col-md-4 paragraph-right-1">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturizam nije samo golotinja. On nam pomaže da se osjećamo povezanije s prirodom te potiče poštovanje prema sebi, prema drugima i prema okolišu. Dobro utječe na naše mentalno i fizičko zdravlje i jača samopouzdanje u vlastito tijelo.</p>
        </div>
        <div class="col-md-4 paragraph-right-2">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p>Naturisti širom svijeta udružili su se u nacionalne naturističke federacije, koje pokreću predani volonteri posvećeni zaštiti i promicanju prostora za naturizam i rekreaciju bez odjeće. Pridruživanjem svojoj nacionalnoj federaciji - Društvu naturista Hrvatske, aktivno podržavate naturistički pokret, a istovremeno otkrivate udrugu i događanja koja omogućuju uživanje u naturizmu tijekom cijele godine – ne samo za vrijeme godišnjeg odmora.</p>
        </div>
        <div class="col-md-4 paragraph-right-3">&nbsp;</div>
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-md-8 frontpage-text">
          <p><b>Zajedno stvaramo prostor za slobodu, prirodu i autentičnost.</b> Društvo naturista Hrvatske okuplja ljude koji vjeruju u poštovanje, zajedništvo i dobrobiti naturizma — tijekom cijele godine. <a href="https://dnh.hr/join">Pridruži nam se!</a></p>
        </div>
        <div class="col-md-4 paragraph-right-4">&nbsp;</div>
      </div>
    </div>
  </div>