<div class="container">
    <h1>Politika privatnosti</h1>
    <h2>Uvod</h2>
    <p>Društvo naturista Hrvatske (dalje: DNH) posebnu pažnju posvećuje zaštiti osobnih podataka i privatnosti (dalje: zaštita privatnosti) svojih korisnika u skladu sa važećim propisima i najboljom europskom praksom.</p>
    <p>Ovom politikom privatnosti (dalje: Politika) DNH želi svojim članovima, posjetiteljima web stranica i sudionicima u događanjima koja organizira DNH (dalje: korisnici) pružiti jasne informacije o obradi i zaštiti njihovih osobnih podataka.</p>
    <p>Politikom se ne umanjuju prava niti uspostavljaju obveze korisnika u odnosu na obradu osobnih podataka, a koje korisnici imaju temeljem važećih propisa o zaštiti osobnih podataka. Politika je jednostrani pravno obvezujući akt DNH.</p>
    <h2>Područje primjene</h2>
    <p>Ova Politika odnosi se na korisnike DNH odnosno na sve osobe čije osobne podatke DNH prikuplja, koristi ili na drugi način obrađuje.</p>
    <p>Osobni podatak je svaki podatak koji se odnosi na pojedinca čiji je identitet utvrđen ili se može utvrditi; pojedinac čiji se identitet može utvrditi jest osoba koja se može identificirati izravno ili neizravno, osobito uz pomoć identifikatora kao što su ime, identifikacijski broj, podaci o lokaciji, mrežni identifikator; ili uz pomoć jednog ili više čimbenika svojstvenih za fizički, fiziološki, genetski, mentalni, ekonomski, kulturni ili socijalni identitet tog pojedinca.</p>
    <p>Obrada osobnih podataka je svaki postupak ili skup postupaka koji se obavljaju nad osobnim podacima bilo automatiziranim bilo neautomatiziranim sredstvima kao što su prikupljanje, bilježenje, organizacija, strukturiranje, pohrana, prilagodba ili izmjena, pronalaženje, obavljanje uvida, uporaba, otkrivanje prijenosom, širenjem ili stavljanjem na raspolaganje na drugi način, usklađivanje ili kombiniranje, ograničavanje, brisanje ili uništavanje.</p>
    <p>Politika se primjenjuje na aktivnosti obrade osobnih podataka u kojima je DNH voditelj obrade u smislu Opće uredbe o zaštiti podataka (<a href="http://eur-lex.europa.eu/legal-content/HR/TXT/PDF/?uri=CELEX:32016R0679&from=hr" target="newTab">Uredba Europskog parlamenta i Vijeća od 27. travnja 2016. o zaštiti pojedinca u vezi s obradom osobnih podataka i o slobodnom kretanju takvih podataka</a>).</p>
    <p>U slučaju da DNH ima ulogu izvršitelja obrade u smislu Opće uredbe o zaštiti podataka, poštivat će se dodatno i politika privatnosti koju definira voditelj obrade. Pri tom je za sve strane važno razlikovati situacije u kojima je DNH voditelj obrade od situacija u kojima je DNH izvršitelj obrade osobnih podataka.</p>
    <h2>Načela obrade osobnih podataka</h2>
    <ul>
        <li>Povjerenje</li>
        <p>DNH želi biti pouzdan čimbenik u području svog djelovanja te stoga omogućava korisnicima da ostvaruju sva prava koja im daje Opća uredba o zaštiti podataka.</p>
        <li>Zakonitost i najbolja praksa</li>
        <p>Pri obradi osobnih podataka DNH postupa u skladu s pozitivnim propisima koji reguliraju zaštitu osobnih podataka.</p>
        <li>Ograničena svrha obrade</li>
        <p>Osobne podatke DNH prikuplja i obrađuje samo za određenu svrhu te ih dalje ne obrađuje na način koji nije u skladu sa svrhom za koju su prikupljeni, osim ako nije drugačije propisano zakonom ili na temelju privole korisnika.</p>
        <li>Smanjenje količine podataka</li>
        <p>DNH koristi samo one osobne podatke koji su primjereni i nužni za postizanje određene svrhe.</p>
        <li>Obrada u neimenovanom obliku</li>
        <p>DNH će nastojati, kad god je to moguće i opravdano, koristiti podatke u anonimiziranom obliku tako da se više ne mogu pripisati određenom korisniku.</p>
        <li>Cjelovitost i povjerljivost</li>
        <p>Osobne podatke DNH obrađuje na siguran način, uključujući zaštitu od neovlaštene ili nezakonite obrade te od slučajnog gubitka, uništenja ili oštećenja (npr. pristup osobnim podacima korisnika imaju samo ovlaštene osobe kojima je to nužno za obavljanje njihovog posla).</p>
        <li>Kvaliteta osobnih podataka</li>
        <p>Osobni podaci koje DNH obrađuje moraju biti točni i potpuni te je važno da korisnik bez odgađanja obavijesti DNH o svakoj promjeni svojih podataka.</p>
        <li>Ograničeno vrijeme pohrane</li>
        <p>Podatke korisnika DNH pohranjuje i obrađuje samo onoliko dugo koliko je potrebno za izvršenje određene obrade, osim ako važećim propisima nije predviđeno duže ili kraće vrijeme čuvanja, ili u drugim slučajevima izričito propisanim zakonom. Nakon toga, podaci se trajno brišu odnosno čine anonimnima ili pseudoanonimnima.</p>
    </ul>
    <h2>Kako DNH prikuplja osobne podatke</h2>
    <p>DNH prikuplja osobne podatke (dalje: podatke) korisnika na sljedeće načine:</p>
    <ul>
        <li class="composed"><strong>Izravno od korisnika</strong> i to na način da ih sam korisnik dostavi. Najčešći primjer za ovakav način prikupljanja podataka je ispunjavanje pristupnice društvu, pri čemu korisnik, daje podatke koji su nužni za pristupanje društvu (ime i prezime, spol, datum i mjesto rođenja, OIB, adresa, kontakt broj telefona i email adresa). </li>
        <li class="composed"><strong>Automatskim korištenjem usluga DNH</strong> od strane korisnika. Tako primjerice, korištenjem internetskih stranica DNH se mogu prikupljati podaci o spajanju, IP adresi, vremenu i trajanju komunikacije i slično.</li>
        <li class="composed"><strong>Iz javno dostupnih izvora</strong>, kao što su npr. podaci iz javnog telefonskog imenika, službenih web stranica pravnih osoba, javno dostupnih servisa i sl.</li>
    </ul>
    <h2>Pravne osnove za obradu osobnih podataka</h2>
    <p>Preduvjet za svako prikupljanje osobnih podataka korisnika je postojanje odgovarajuće pravne osnove.</p>
    <p>DNH kao voditelj obrade temelji obradu osobnih podataka na jednoj od osnova:</p>
    <ul>
        <li class="composed">obrada je nužna za korištenje usluge koju DNH pruža, a kojoj korisnik pristupa temeljem zahtjeva ili ispunjavanjem pristupnice, pri čemu ispunjavanje pristupnice ili ispunjavanje zahtjeva ima karakter sklapanja ugovora s DNH za korištenje te usluge</li>
        <li class="composed">obrada je nužna radi poštivanja odredbi zakona i drugih propisa koji obvezuju DNH</li>
        <li class="composed">obrada je nužna za potrebe legitimnih interesa DNH </li>
        <li class="composed">obrada je potrebna za svrhu koja nije obuhvaćena prethodnim točkama i temelji se na informiranoj privoli osobe čiji se osobni podaci prikupljaju.</li>
    </ul>
    <h2>Privola korisnika</h2>
    <p>Pod privolom korisnika smatra se dobrovoljno, posebno, informirano i nedvosmisleno izražavanje želje korisnika kojim korisnik izjavom ili jasnom potvrdnom radnjom daje pristanak za obradu osobnih podataka u određene svrhe (tzv. opt-in). Privola se daje elektroničkim ili pisanim putem.</p>
    <p>Korisnik upravlja svojom privolom u skladu sa svojim potrebama i interesima. U tu svrhu DNH omogućuje korisniku da u svakom trenutku, na jednostavan način da ili uskrati danu privolu.</p>
    <h2>Kolačići</h2>
    <p>Kako bi korisnicima internetskih stranica DNH pružilo potrebne funkcionalnosti, DNH može koristiti kolačiće ili druge uobičajene tehnike koje prikupljaju određene podatke korisnika (npr. IP adresa s koje se pristupa web stranici, vrijeme spajanja itd.).</p>
    <h2>Mjesto obrade podataka</h2>
    <p>DNH osobne podatke korisnika u pravilu obrađuje u Republici Hrvatskoj i u državama članicama Europske unije. </p>
    <h2>Prosljeđivanje osobnih podataka trećim stranama</h2>
    <p>DNH ne prosljeđuje niti razmjenjuje podatke korisnika s bilo kojim drugim pravnim ili fizičkim osobama (dalje: osobe), osim u sljedećim slučajevima:</p>
    <ol>
        <li class="composed">ako postoji zakonska obveza ili izričito ovlaštenje na temelju zakona (npr. na temelju zahtjeva suda)</li>
        <li class="composed">ako se za obavljanje pojedinih poslova angažira druga osoba kao izvršitelja obrade pri čemu DNH brine o poduzimanju odgovarajućih mjera zaštite podataka</li>
        <li class="composed">ako je podatke potrebno proslijediti trećim stranama radi izvršenja ugovora s korisnikom odnosno pružanja tražene usluge </li>
        <li class="composed">na temelju privole korisnika.</li>
    </ol>
    <h2>Prava korisnika</h2>
    <p>Korisnik ima, pod uvjetima iz Opće uredbe o zaštiti podataka, pravo na pristup svojim osobnim podacima koje DNH prikuplja, pravo na brisanje (zaborav), pravo na ograničenje obrade, pravo na prigovor, pravo na prenosivost podataka te pravo na ispravak osobnih podataka, ukoliko su oni neispravni.</p>
    <p>Za sva pitanja vezana uz obradu podataka, zaštitu osobnih podataka, može se obratiti na kontakt adresu DNH (email: dnh@dnh.hr) ili putem pošte na adresu sjedišta DNH.</p>
    <p>Na prikupljanje i obradu osobnih podataka korisnik ima pravo podnijeti prigovor nadzornom tijelu za zaštitu osobnih podataka u Republici Hrvatskoj.</p>
</div>